<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kalkulator walut</title>
</head>
<body>
      
<form method="post" enctype=multipart/form-data>
<div class="container1"> 

    <div class="container">
        <label for="currencies">Wybierz walutę:</label>
        <select name="currencies" id="currencies">
        
            {% for cc in codes_list %}
            <option value="{{ cc }}">{{ cc }}</option>
            {% endfor %}

        </select>
        <br/>

        <label for="quantity">Wybierz ilość:</label>
        <input name="quantity" id="quantity" type="number" min="0" oninput="validity.valid||(value='');"/>
        <br/>

        <input type="submit" value="Przelicz"/> <br/>

        <input type="reset" value="Wyczyść formularz" />
    </div>

    <div class="container2">
        <img src="{{url_for('static',filename='euro.jpg')}}"title="euro" alt="euro" width=”1920″ height=”1280″/>
    </div>


</div>

</form>

</body>
</html>
